.homepage {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    background-color: #FFC686;
    font-size: 48px;
}

.heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blueviolet;
    font-size: 36px;
    font-weight: bold;
}

.smaller-heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #002E8B;
    font-weight: bolder;
}

.honeygarlic {
    font-weight: 400;
}

.cuke-instructions,
.cuke-instructions-two,
.cuke-list,
.ordered-salad-list .cuke-instructions-three {
    color: green;
    font-size: 18px;
}

.unordered-salad-list .cuke-ingredient {
    color: red;
    font-size: 14px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.cuke-image {
    height: auto;
    width: 600px;
}

.honey-text {
    color: #692EB4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.honey-image {
    height: auto;
    width: 300px;
}

.pizza-image {
    height: auto;
    width: 450px;
}

.pizza-text {
    color:#E71A4B;
    font-family:'Courier New', Courier, monospace;
    font-weight: lighter;
    background-color: aliceblue;
}